section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
a {
  background-color: beige;
  padding: 2rem;
  text-align: center;
  width: 80%;
}
article {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 4;
  background-color: gray;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dig {
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: beige;
  text-align: center;
  margin-bottom: 5rem;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: beige;
  text-align: center;
  margin-top: 5rem;
  border-top: 1px solid black;
}
.hjælp {
  text-align: center;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
}

footer {
  position: sticky;
  top: 100vh;
}
